* {
    margin: 0;
    padding: 0;
}

.body {
    padding-top: 10px;
    padding-left: 10px;
    padding-bottom: 25rem;
    
     
    background-image: url('images/backgroundRickandMorty4.jpeg');
    background-size: 100%;
    
}

.placeholder1 {
    
    height: 20px;
    width: 150px;
    

    border: 5px solid rgb(0, 0, 255);
    border-radius: 15%;
    box-shadow:0 0 4px 4px black ;
    
    font-family:'Creepster';

    text-align: center;
}

.placeholder1:hover {
    background-color: aqua;
    box-shadow:0 0 4px 4px white ;

}

.button2 {
    position: relative;
    left: 680px;
    
    font-family:'Creepster';
    
    border: 4px solid rgb(0, 0, 255);
    border-radius: 15%;
    box-shadow:0 0 4px 4px black ;
    }

.button2:hover {
    background-color: aqua;
    color:white;
    box-shadow:0 0 4px 4px white ;
    cursor: pointer;
}
    
    


.colums-container {
    padding-top: 10px;
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 20px ;



}

.colums1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    


}

.description {
    font-family: 'Creepster';
    font-size: small;
    text-align: center;


}




img {
    border: solid rgba(71, 3, 130, 0.632) 8px;
    border-radius: 10%;
    box-shadow:0 0 4px 4px black ;

}

img:hover {
    transition: 1s;
    width: 120px;
    height: 120px; 
    cursor: pointer;
    box-shadow:0 0 10px 10px rgb(245, 242, 242) ;
  }

  