.login {
    height: 100vh;
    
    
    background-image:url('./images/backgrounRickandMorty1.jpeg');
    background-size: cover;
    background-position: center;
    
}

.placeholder {


    position: relative;
    top: -4px;
    right: 0px; ;
    bottom: 0px ;
    left: 35px;
    margin:8px;

    font-family:'Creepster'; 
    font-size: large;

    border-radius: 10px;
    border-color:teal ;
    border-style: solid;
    border-width: 3px;
}

.placeholder:hover {
    background-color:greenyellow;
}


.button {
    
    position: relative;
    top: -2px;
    right: 0px; 
    bottom: 0px;
    left: 40px;
    
    margin: 1px;
    padding: 6px;
    padding-top: 2px;
    
    background-color: teal;
    
    font-family:'Creepster';
    font-size: large;
    color:greenyellow;

    border-radius: 7px;
    border-color: greenyellow;

    cursor: pointer;
}


.form{
    width: 500px;
    height: 200px;
    opacity: 0.8;
    
    position: absolute;
    top: -15px;
    right:0 ;
    bottom:0 ;
    left:-10px ;
    margin: auto ;
    
    background-image: url('./images/backgroundletter.jpg');
    background-size: cover;
    
    
    
    border-radius: 16px;
    border: solid 5px  teal;
    box-shadow:0 0 30px 30px greenyellow ;
    





    animation: opacity 2s infinite alternate;

}

@keyframes opacity {
    from {
        opacity:0.4;
    }
    to{
        opacity: 1;
    }
}








